name: Test add
on:
  pull_request:
  push:

jobs:
  test:
    strategy:
      matrix:
        python:
          - '3.12'
          - '3.13'
    name: Python ${{ matrix.python }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Run add.py
        run: |
          python add.py 1 2
      - name: Run tests
        run: |
          python test.py
